{% extends 'base.html.twig' %}

{% block body %}
  <div class="header-container w-full relative">
    <img 
      src="{{ asset('images/header-background.jpg') }}" 
      alt="Header Background" 
      class="w-full h-auto object-cover min-h-64 max-h-screen" 
    />
    
    <div class="header-content absolute top-0 left-0 w-full h-full flex items-center justify-center">
    </div>
  </div>
{% endblock %}