<div class="bg-[#FEFDFB] rounded-lg p-6 w-[15rem] flex flex-col items-center text-center shadow-lg transition-transform transform hover:scale-105 duration-300">
  <div class="text-[#BD7745] bg-[#F2EAE3] p-2 rounded-full mb-3">
    <i data-lucide="{{ icon }}" class="w-6 h-6"></i>
  </div>

  <h2 class="text-lg font-playfair font-semibold text-gray-800">{{ label }}</h2>
  <p class="text-gray-600 mt-2 text-sm">{{ description }}</p>
</div>